// 给自定义容器的黑幕适配

.custom-container.warning {
  --heimu-text: var(--c-warning-bg);
  --heimu-color: var(--c-warning-text);
}

.custom-container.danger {
  --heimu-text: var(--c-danger-bg);
  --heimu-color: var(--c-danger-text);
}

.custom-container.tsukkomi {
  --heimu-text: var(--c-tsukkomi-bg);
  --heimu-color: var(--c-tsukkomi-text);
}

.custom-container.interlink {
  --heimu-text: var(--c-interlink-bg);
  --heimu-color: var(--c-interlink-text);
}
