// 为 tip 的标题带色，与其他 custom-container 一致
:root {
    --c-tip-title: #2ba36d;
}

html.dark {
    --c-tip-title: var(--c-tip);
}

// 使 custom-container 变圆角
.custom-container {
    border-radius: 0.3rem;
}

// interlink 和 tsukkomi 基本样式
.custom-container.interlink,
.custom-container.tsukkomi {
    padding: 0.1rem 1.5rem;
    border-left-style: solid;
    border-left-width: 0.5rem;
    margin: 1rem 0;
}

// 相关链接 interlink
:root {
    --c-interlink: #0022e6;
    --c-interlink-bg: #e5e9ff;
    --c-interlink-text: var(--c-interlink);
    --c-interlink-title: var(--c-interlink);
}

html.dark {
    // 黑暗模式
    --c-interlink: #3e53ce;
    --c-interlink-bg: #2c324d;
    --c-interlink-text: #bac3f5;
    --c-interlink-title: var(--c-interlink);
}

.interlink {
    border-color: var(--c-interlink);
    background-color: var(--c-interlink-bg);
    color: var(--c-interlink-text);

    a {
        color: var(--c-text);
    }
}

html.dark .interlink a {
    color: #d7e1ec;
}

// 吐槽 tsukkomi
:root {
    --c-tsukkomi: #aa00ff;
    --c-tsukkomi-bg: #f7e5ff;
    --c-tsukkomi-text: #440066;
    --c-tsukkomi-title: var(--c-tsukkomi);
}

html.dark {
    // 黑暗模式
    --c-tsukkomi: #b37fce;
    --c-tsukkomi-bg: #5d4d66;
    --c-tsukkomi-text: #c5b8cc;
    --c-tsukkomi-title: var(--c-tsukkomi);
}

.tsukkomi {
    border-color: var(--c-tsukkomi);
    background-color: var(--c-tsukkomi-bg);
    color: var(--c-tsukkomi-text);

    a {
        color: var(--c-tsukkomi);
    }

    .custom-container-title {
        color: var(--c-tsukkomi-title);
    }
}

// 改变 custom-container 中链接的颜色，跟随 tip 的样式
.custom-container.warning a {
    color: #d1b62c;
}
html.dark .custom-container.warning a {
    color: var(--c-warning-title);
}
.custom-container.danger a {
    color: #e05b5b;
}
html.dark .custom-container.danger a {
    color: var(--c-danger-title);
}

// 使 custom-container 中 code 不要这么黑
.custom-container code {
    background-color: #ffffff99; // 用透明的方式透出背景颜色使其看起来没这么维和
}

html.dark .custom-container code {
    background-color: #33333399; // 用透明的方式透出背景颜色使其看起来没这么维和
}

html.dark .custom-container.tip code {
    background-color: #44444499; // 用透明的方式透出背景颜色使其看起来没这么维和
}

// 修复 custom-container 中 quote 的样式
.custom-container.warning blockquote {
    border-left-color: #ecdc89;
    color: #c2b46d;
}
html.dark .custom-container.warning blockquote {
    border-left-color: #a3923d;
    color: #a89f6d;
}

.custom-container.danger blockquote {
    border-left-color: #d18686;
    color: #b38383;
}
html.dark .custom-container.danger blockquote {
    border-left-color: #702e2e;
    color: #5d2e2e;
}

.custom-container.tsukkomi blockquote {
    border-left-color: #e3baf8;
    color: #c99be0;
}
html.dark .custom-container.tsukkomi blockquote {
    border-left-color: #866b94;
    color: #988aa0;
}

.custom-container.interlink blockquote {
    border-left-color: #b7bfeb;
    color: #929edd;
}
html.dark .custom-container.interlink blockquote {
    border-left-color: #59659e;
    color: #757ba1;
}
