@import './custom-container.scss';
@import './code-group.scss';
@import './mermaid.scss';
@import './tasklist.scss';

.vp-doc .custom-block div[class*='language-'] code,
.custom-block.tip code {
  background-color: transparent;
}

:root {
  --vp-c-brand: #318c87;
  --vp-c-brand-light: #47a19c;
  --vp-c-brand-lighter: #60b2ae;
  --vp-c-brand-dark: #156e69;
  --vp-c-brand-darker: #084845;
  --vp-font-family-base: 'PingFang SC', 'HarmonyOS Sans SC', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Microsoft YaHei, sans-serif;
}

.face {
  display: inline;
  height: 20px;
  vertical-align: text-bottom;
}
