name: Build Docs
on:
  push:
    branches: [vitepress]
jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '>=18'
          cache: 'pnpm'

      - name: Build docs
        run: |
          pnpm install
          pnpm minfont
          pnpm build

      - uses: actions/upload-artifact@v2
        with:
          name: page_dist
          path: docs/.vitepress/dist
  
  upload2cos:
    needs: [build_docs]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - uses: actions/download-artifact@v2
        with:
          name: page_dist
          path: dist

      - name: Upload dist
        run: |
          python3 -m pip install wheel coscmd
          coscmd config -a ${{ secrets.SecretId }} -s ${{ secrets.SecretKey }} -b graiax-1302360504 -r ap-hongkong
          coscmd upload -rs --delete dist/ /